apiVersion: v1
kind: Service
metadata:
  name: pod-index
  namespace: default
  labels:
    app: pod-index
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: pod-index
